@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, ::before, ::after{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e110e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: roboto;
}
.container{
    width: 100%;
    display: grid;
}
.container #currentTime{
    text-align: center;
    padding: 20px 0;
    font-weight: 900;
    font-size: 3rem;
}
.container .heading{
    padding: 20px;text-align: center;
}
.heading .input-time{
    font-size: 3rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 60px;
}
.input-time .timeHour, .input-time .timeMin, .input-time .timeSec {
    overflow-y: scroll;
}
.input-time .timeHour::-webkit-scrollbar, .input-time .timeMin::-webkit-scrollbar, .input-time .timeSec::-webkit-scrollbar{
    display: none;
}
.input-time .timeHour, .input-time .timeMin, .input-time .timeSec{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container .heading h1{
    font-size: 1.5rem;
    white-space: nowrap;
}
.container .alarms-container{
    display: grid;
    gap: 10px;
}
.alarms-container .add-alarm{
    width: 30px;
    height: 30px;
    padding: 30px;
    background-color: yellow;
    left: 45%;
    right: 45%;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 80px;
    font-weight: 900;
    cursor: pointer;
}
.alarms-container .alarm{
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alarm.active{
    background-color: rgba(0, 0, 255, 0.1);
}
.alarm .alarm_Time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alarm #alarm_Time{
    padding: 0 10px;
}
.alarm .delete_Btn{
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.alarm .alarm-info{
    display: flex;
    justify-content: space-between;
    /* flex-basis: 60%; */
}
.alarm .alarm-info #alarm_date{
    white-space: nowrap;
    padding: 0 5px;
}
.alarm .alarm-button{
    background-color: #eee;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.alarm-button .alarm-toggler{
    height: 25px;
    position: absolute;
    background-color: #aaa;
    width: 25px;
    /* border: 1px solid #aaa; */
    border-radius: 50%;
    transition: left ease .4s;
    left: 0;
    transform: translateY(-10%);
}
.alarm-button .alarm-toggler.active{
    left: 25px;
    background-color: blue;
}